<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <div class="jumbotron nav">
   
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav">
          <ul class="navbar-nav">
            @Html.ActionLink("Mega store home page", "Index", "Home", new { area = "" }, null)
          </ul>
          <ul class="navbar-nav">
            @Html.ActionLink("Product categories", "Index", "Categories")
          </ul>
        </div>
      </div>
     
  </div>
  <div class="jumbotron table">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now - (c) A.Bulac & Bubee incorporated</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
